body {
    background-color: rgba(247, 112, 24, .2);
}
#image-gallery {
    margin-top: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#image-display {
    border: solid rgba(185, 63, 8, 1);
    border-radius: 15px;
    padding: 5px;
}
h1, h3, figcaption{
    font-family: Oswald, Verdana, Arial, sans-serif;
    font-weight: 400;
    text-align: center;
    color: rgba(185, 63, 8, 1);
}
figcaption {
    font-style: italic;
    font-size: .75em;
}
img {
    width: 400px;
    height: 350px;
    display: block;
    margin: 0 auto;
}
